// Tablets & Smaller
@media (max-width: 1200px) {
  .item-text-description {
    display: none;
  }
}

@media (max-width: 800px) {
  #header {
    &-home {
      height: 30rem;

      #logo {
        margin-top: -0.8rem !important;
      }

      .header-content {
        padding-top: 5rem;
      }
    }

    &-inner {
      #logo {
        margin-top: -0.8rem !important;
      }
    }
  }

  .items {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .item-text-title,
  .item-text-category {
    margin-bottom: -0.5rem !important;
  }

  #about {
    &-a {
      .about-info {
        display: grid;
        grid-template-areas:
          'bioimage bioimage bioimage'
          'bio bio bio' !important;
      }

      // Grid Areas
      .bio-image {
        grid-area: bioimage;
        width: 60%;
        margin: auto;
        border-radius: 50%;
      }

      .bio {
        grid-area: bio;
        width: 80%;
        padding: 1.5rem 4.5rem;
        margin: auto;
      }
    }
  }

  // Contact Page
  #contact {
    &-a {
      .text-fields {
        grid-template-areas:
          'name'
          'email'
          'phone'
          'subject'
          'message'
          'captcha';
      }
    }
  }
}

// Smartphones
@media (max-width: 500px) {
  #main-nav {
    flex-direction: column;
    align-items: center;

    li {
      padding: 1rem;
    }
  }

  #header {
    &-home {
      height: 26.5rem;
      border-bottom: 3px solid $main-color;
      background-position: 60% 10%;

      .header-content {
        // display: none;
        padding-top: 1rem;

        h1 {
          font-size: 1.6rem;
          font-weight: bold;
          margin: 1rem 0;
        }

        p {
          font-size: 1rem;
        }
      }
    }

    &-inner {
      height: 10rem;
    }
  }

  #about-a {
    .bio {
      width: 80%;
      text-align: left;
      padding: 1.5rem 1.5rem;

      p {
        font-size: 1.2rem;
      }
    }
  }

  #about-c {
    padding-left: 1.5rem;
    .about-logos {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // Stack Grid Columns
  #home-a .home-a,
  #projects-a .items,
  #contact-b .contact-info {
    grid-template-columns: 1fr !important;
  }

  .item {
    &-text-title {
      font-size: 1.5rem !important;
    }
    &-text-category {
      font-size: 0.85rem !important;
    }
    &-text-description {
      font-size: 1.15rem !important;
    }
  }

  #about-d {
    .container {
      grid-template-areas:
        'title'
        'line'
        'diploma1'
        'diploma2'
        'diploma3'
        'diploma4'
        'diploma5'
        'diploma6'
        'diploma7'
        'diploma8'
        'diploma9'
        'diploma10';
    }
  }

  #contact {
    &-a {
      form {
        width: 100%;
      }
    }

    &-b {
      div {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px #fff dotted;
      }

      div:last-child {
        border: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  // Footer
  #main-footer {
    height: 7rem;

    .footer-content {
      flex-direction: column;
      padding: 1rem;
      height: 5rem;
    }
  }
}

// Landscape
@media (max-height: 580px) {
  #header-home {
    .header-content {
      padding-top: 3rem;
    }
  }
}

@media (max-height: 375px) {
  #header-home {
    #logo {
      font-size: 1.5rem;
      margin-top: 0.5rem !important;
    }

    .header-content {
      h1 {
        font-size: 2rem;
      }
    }
  }

  #header-inner {
    #logo {
      font-size: 1.5rem;
      margin-top: 0.5rem !important;
    }
  }
}
