.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

// Buttons
%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.btn {
  &-main {
    @extend %btn-shared;
    color: #333;
    background-color: $main-color;

    &:hover {
      background-color: $dark-color;
      color: $light-color;
    }
  }

  &-light {
    @extend %btn-shared;
    color: #333;
    background-color: $light-color;

    &-border {
      @extend %btn-shared;
      border: solid 1px #000;
      color: #000;

      &:hover {
        border: solid 1px transparent;
      }
    }
  }

  &-dark {
    @extend %btn-shared;
    color: #f4f4f4;
    background-color: $dark-color;
  }
}

// Backgrounds
.bg {
  &-main {
    background: $main-color;
    color: set-text-color($main-color);
  }

  &-dark {
    background: $dark-color;
    color: set-text-color($dark-color);
  }

  &-light {
    background: $light-color;
    color: set-text-color($light-color);
  }

  &-medium {
    background: $medium-color;
    color: set-text-color($medium-color);
  }
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: $main-color;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

// Padding
.py {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
}

// Margin
.my {
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4 {
    margin: 4rem 0;
  }
}

// Margin
.mt {
  margin-top: 0.5rem;

  &-1 {
    margin-top: 1rem;
  }
  &-2 {
    margin-top: 2rem;
  }
  &-3 {
    margin-top: 3rem;
  }
  &-4 {
    margin-top: 4rem;
  }
}

.mt-n {
  &1 {
    margin-top: -1rem !important;
  }
  &2 {
    margin-top: -2rem !important;
  }
  &3 {
    margin-top: -3rem !important;
  }
  &4 {
    margin-top: -4rem !important;
  }
}

.mb {
  &-1 {
    margin-bottom: 1rem;
  }
  &-2 {
    margin-bottom: 2rem;
  }
  &-3 {
    margin-bottom: 3rem;
  }
  &-4 {
    margin-bottom: 4rem;
  }
}

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}

.bottom-line {
  height: 2px;
  width: 3rem;
  background: $main-color;
  display: block;
  margin: 0 auto 1rem auto;
}
